<%- include('../Includes/begin.ejs') %>
    <%- include('../Includes/navbar.ejs') %>

        <div class="container pt-5">
            <div class="container pt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            <div class="forgot p-3">
                                <h2>Reset your password</h2>
                                <p>Change your password. Make sure it's healthy and safe!</p>
                                <p>NOTE: The link will expire in 20m</p>

                            </div>
                            <%- include('../Includes/messages') %>
                                <form class="card" role="form" method="POST" action="/admin/resetpassword?_method=PUT">
                                    <div class="card-body">
                                        <div class="form-group"> <label for="password">Enter your new
                                                password</label>
                                            <input class="form-control" type="password" name="password" id="password"
                                                required><small class="form-text text-muted">Enter a new
                                                password</small>
                                        </div>
                                        <div class="form-group"> <label for="confirm-password">Confirm your Passoword</label>
                                            <input class="form-control" type="password" name="confirmPass" id="confirmPass"
                                                required><small class="form-text text-muted">Confirm password</small>
                                        </div>
                                    </div>
                                    <input type="hidden" class="hide" name="resetLink" id="resetLink"
                                        value="<%= resetLink %>">
                                    <button class="btn btn-primary btn-block" type="submit">Change Password</button>
                                </form>
                                <hr>
                                <button class="btn btn-danger" onclick="location.href = '/admin/login'">Back to
                                    Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../Includes/end.ejs') %>